<h1>To do list</h1>
<p>Add items to you todo list below:</p>

<form action="/todo" method="post">
 <input type="text" name="toDo" placeholder="Eg. Learn more Mongo DB"/>
 <input type="submit" value="create"/>
</form>

<p>{{success}}</p>
